<a href="https://colab.research.google.com/github/RitabrataSarkar/PythonForAI/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def firstFunction():
    print("Hello Students")

In [2]:
firstFunction()

Hello Students

In [3]:
def addFunction(a,b):
  return a+b

In [5]:
print(addFunction(3,4))

7
None

In [6]:
def sum_numbers (*args):
  print(type(args))
  print(args)
  sum=0
  for num in args:
    sum+=num
  return sum

In [7]:
sum_numbers(1,2,3,4,5)

<class 'tuple'>
(1, 2, 3, 4, 5)

15

In [9]:
def display(**kwargs):
  print(kwargs)
  print(type(kwargs))
  for key,value in kwargs.items():
    print(key,'->',value)

display(name="Ritabrata",age=18,city="kharagpur")

{'name': 'Ritabrata', 'age': 18, 'city': 'kharagpur'}
<class 'dict'>
name -> Ritabrata
age -> 18
city -> kharagpur

In [10]:
def add (a:int,b:int)->int:
  return a+b

add(4,9)

13